:root{
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: white;
    font-family: helvetica;
    
}

body {

    overflow-y: scroll;
    height: 100%;
    background-image: url("purplewebback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }


h2 {
    font-size: 40px;
}

h1 {
    font-size: 50px;
}

#banner{
    background-image: url("stripbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 99.7%; height: 350px;
    top:0;
    left:0;
    position: absolute;
    border-style: solid;
    border-color: white;
    text-align: center;
    color: white;
    line-height: 50px;
}

#whiteline{
    width: 45%; height: 3px;
    background-color: white;
    margin-left: 27.5%;
}

.centercontainer{
    width: 60%;
    border-style: solid;
    border-color: white;
    background:rgba(1,1,1,0.5);
    margin-left :19.5%;
    text-align: center;
    color: white;
}

#aboutme{
    height: 800px;
    margin-top: 500px;
}

#creativeprojects{
    height:1000px;
    margin-top: 100px;
}

#aboutpic{
    background-image: url(suitwithbackground.png);
    border-style: solid;
    border-color: #3736b8;
    margin-left: 5%;
    height: 60%; width: 30%;
    background-size: cover;
    background-position: center;
    margin-top: 5%;
    float: left;
}

#abouttext{
    margin-right: 5%;
    margin-top: 5%;
    height: 60%; width: 50%;
    float: right;
    font-size: 20px;
    text-align: left;
    
}

#codingprojects{
    height: 800px;
    margin-top: 100px;
}

#codingprojectstext{
    height: 80%; width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 20px;
    text-align: left;
}

#resumebox{
    height: 1200px;
    margin-top: 100px;
    
}

#contactbox{
    margin-top: 100px;
    width: 99.7%; height: 300px;
    position: absolute;
    left: 0;
    border-style: solid;
    border-color: white;
    background:rgba(1,1,1,0.5);
    text-align: center;
}

#contacttext{
    position: relative;
    margin-top: 30px;
    text-align: left;
    height: 50%; width: 50%;
    margin-left: 35%;
    
}

.gallery {
    margin:16px;
    border: 1px solid #ccc;
    float: left;
    width: 30%;
    height: 40%
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: 75%;
}

.desc {
    padding: 5px;
    text-align: center;
}

.button {
    min-width: 170px;
    position: absolute;
    top: 230px;
    padding: 10px 36px;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 50px;
    border-style: none;
}

.button:hover {
    background-position: right center;
}

.button::after {
    content: '';
    position: absolute;
    right: 8px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid white;
}

.aboutmescrl {
    left: 450px;
    background-image: linear-gradient(to right, #3736b8 0%, #a47ed5 51%, #3736b8 100%);
}

.creativeprojscrl {
    left: 650px;
    background-image: linear-gradient(to right, #3736b8 0%, #a47ed5 51%, #3736b8 100%);
}

.codingprojscrl {
    left: 850px;
    background-image: linear-gradient(to right, #3736b8 0%, #a47ed5 51%, #3736b8 100%);
}

.resumescrl{
    left: 1050px;
    background-image: linear-gradient(to right, #3736b8 0%, #a47ed5 51%, #3736b8 100%);
}

.contactscrl{
    left: 1250px;
    background-image: linear-gradient(to right, #3736b8 0%, #a47ed5 51%, #3736b8 100%);
}

.topscrl {
    position: static;
    margin-top: 50px;
    margin-left: 47%;
    min-width: 170px;
    padding: 10px 36px;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 50px;
    border-style: none;
    background-image: linear-gradient(to right, #012681 0%, #294aab 51%, #012681 100%);
}

.topscrl:hover {
    background-position: right center;
}

